body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  scroll-behavior: smooth;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: #FFFAFF;
  color: #006400;
}

header {
  text-align: center;
  color: #006400;
}

h2 {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: white;
  padding: 0px;
}

nav a {
  color: #303036;
  background-color: #FFFAFF;
  padding: 0 0px;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
}

nav a:hover {
  color: #EA7D10;
}

#containerimage {
  width: 100%;
  height: auto;
}

#about {
  background-color: white;
  width: 100%;
}

.about-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #FFFAFF;
  padding: 20px;
}

.about-text {
  flex: 3;
  text-align: right;
}

.about-image {
  margin-left: 10px;
}

.about-image img {
  max-width: 70%;
  border-radius: 8px;
}

main.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  background-color: #FFFAFF;
}

.work-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 10px;
}

.work-item {
  text-align: center;
}

.work-item.big {
  grid-column: span 2; 
}

.work-item.big:hover img {
  transform: scale(1.1);
  filter: brightness(50%);
}

.work-item img {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  border: 2px solid #303036;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.work-item:hover img {
  transform: scale(0.9);
  filter: brightness(50%);
}

.page-section {
  margin: 40px;
}

p {
  margin-top: 5px;
}

@media (min-width: 600px) {
  .work-grid {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 900px) {
  .work-grid {
    grid-template-columns: 1fr 2fr;
  }
}