body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: start;
  text-align: center;
  padding: 0px;
  background-color: black;
  color: #FFFAFF;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: black;
  padding: 0px;
}

nav a {
  color: #FFFAFF;
  padding: 0 20px;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
}

nav a:hover {
  color: #30BCED;
}

#containerimage {
  width: 100%;
  height: auto;
}

main.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 300px;
}

.page-section {
  margin: 20px;
}

.work-item {
  text-align: center;
}

.work-item img {
  width: 100%;
  cursor: pointer;
}


